{{template "base" .}}

{{define "content"}}
<div class="container">

  <div class="row">


    <div class="col">
      <img class="img-fluid img-thumbnail room-image mx-auto d-block" src="./static/images/generals-quarters.png"
        alt="big room picture">
    </div>


  </div>


  <!-- The main text -->
  <div class="row">
    <h1 class="text-center">The Big Room</h1>

    <p>
      This is the Big Room Info page. This is the Big Room Info page.
      This is the Big Room Info page. This is the Big Room Info page. This is the Big Room Info page.
      This is the Big Room Info page. This is the Big Room Info page.
      This is the Big Room Info page. This is the Big Room Info page. This is the Big Room Info page.
    </p>


  </div>
  <div class="row">
    <div class="col text-center">
      <a href='#!' class="btn btn-success" id="bookit">Check Availability</a>
    </div>
  </div>

</div>
{{end}}

{{define "js"}}
<script>

  // add a clickevent to the colorButton
  document.getElementById("bookit").addEventListener("click", function () {

    let html = `
    <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
      <div class="form-row">
        <div class="col">
          <div class="row" id="reservation-dates-modal">
            <div class="col">
              <input disabled type="text" name="start" class="form-control" required placeholder="Arrival Date" id="start">
            </div>

            <div class="col">
              <input  disabled type="text" name="end" class="form-control" required placeholder="Departure Date" id="end">
            </div>
          </div>
        </div>
      </div>
    </form>
  `;
    attention.custom({
      msg: html,
      title: "Choose your dates",

      willOpen: () => {
            const elem = document.getElementById('reservation-dates-modal');
            const rangepicker = new DateRangePicker(elem, {
              format: "yyyy-mm-dd",
              showOnFocus: true,
            });
          },

          didOpen: () => {
            document.getElementById('start').removeAttribute('disabled');
            document.getElementById('end').removeAttribute('disabled');
          },
              
      callback: function (result) {
        console.log("called")
        let form = document.getElementById("check-availability-form");
        let formData = new FormData(form);
        formData.append("csrf_token", "{{.CSRFToken}}");

        fetch('/search-availability-json', {
          method: "post",
          body: formData,
        })
          .then(response => response.json())
          .then(data => {
            console.log(data)
            console.log(data.ok)
            console.log(data.message)
          })
      }
    });



  })


</script>
{{end}}