{{template "base" .}}

{{define "content"}}
<div class="container">
  
    <div class="row">
    
            
        <div class="col">
            <img class="img-fluid img-thumbnail room-image mx-auto d-block" src="./static/images/majors-suite.png" alt="little room picture">
        </div>
        
        
    </div>

      
   <!-- The main text -->
  <div class="row">
      <h1 class="text-center">The Little Room</h1>
      
      <p>
      This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. 
      This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. 
      This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. 
      This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. 
      This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. 
      This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. This is the blurb about the cabins. 
      </p>
      <p>
        <a href="booknowlr.html" class="btn btn-success">Check Availability</a>
      </p>
  
  </div>
  
</div>
    
{{end}}